/* Estilos gerais */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Estilos para o header */
header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  border-bottom: 2px solid #5f9992;
}

header h1 {
  margin: 0;
  font-size: 36px;
}

/* Estilos para a seção de desenvolvedores */
.developers {
  padding: 40px 0;
  text-align: center;
}

.developer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.developer img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.developer-info {
  margin-top: 10px;
}

/* Estilos para o rodapé */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  border-top: 2px solid #5f9992;
}

/* Estilos para o menu */
.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: #444;
  border-bottom: 2px solid #5f9992;
}

.menu li {
  margin: 0 15px;
}

.menu li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s;
  padding: 5px 10px;
  border-radius: 3px;
}

.menu li a:hover {
  color: #5f9992;
  background-color: #333;
}

/* Estilos para o conteúdo principal */
.content {
  padding: 20px;
}

/* Estilos para o botão CTA */
.cta-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #5f9992;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  font-weight: bold;
  letter-spacing: 1px;
}

.cta-button:hover {
  background-color: #5a5454;
}

/* Estilos do Slider */
.slider-container {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 400px; /* Ajuste a altura conforme necessário */
  margin-bottom: 20px;
}

.slider {
  position: relative;
  width: 100%;
  height: 100%;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Animação do Slider */
.slider .slide:first-child {
  opacity: 1;
}

@keyframes slide {
  0%, 100% {
      opacity: 0;
  }
  20%, 80% {
      opacity: 1;
  }
}

.slider .slide {
  animation: slide 5s infinite;
}


/* Estilos para os game-cards */
.game-list {
  text-align: center;
  padding: 50px 0;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.game-card {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px;
  width: calc(33.333% - 40px);
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.game-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.game-card img {
  max-width: 100%;
  border-radius: 8px;
}

.game-card h4 {
  margin-top: 10px;
  color: #333;
  font-size: 24px;
}

.game-card p {
  margin-top: 5px;
  color: #777;
}

.game-card a {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 15px;
  background-color: #f0efef;
  color: #333;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  font-weight: bold;
}

.game-card a:hover {
  background-color: #5a5454;
  color: #fff;
}

/* Gradiente de fundo na seção de herói */
.hero {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url('img/florest.png');
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 100px 0;
  text-align: center;
}

/* Estilos para o formulário de login */
.login-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  text-align: center;
  margin: auto;
}

.login-container h2 {
  margin-bottom: 20px;
  color: #333;
}

.login-form label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
  color: #555;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease-in-out;
}

.login-form input[type="text"]:focus,
.login-form input[type="password"]:focus {
  border-color: #3498db;
}

.login-form button {
  padding: 10px 20px;
  background-color: #2f3436;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
}

.login-form button:hover {
  background-color: #2980b9;
}

/* Estilos para a seção de screenshots do jogo */
.game-screenshots {
  background-color: #f5f5f5;
  padding: 40px 0;
  text-align: center;
}

.game-screenshots h2 {
  color: #333;
  font-size: 28px;
  margin-bottom: 20px;
}

.screenshots {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.screenshots img {
  max-width: 100%;
  border-radius: 8px;
  margin: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.screenshots-text {
  text-align: center;
  margin-top: 20px;
}

.screenshots-text p {
  color: #000000;
  line-height: 1.6;
}

/* Estilos para o rodapé */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  border-top: 2px solid #5f9992;
}

/* PADRONIZAÇÃO DA TAG FORM */
form{
  background-color: rgb(205, 191, 211);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  padding: 20px;
  width: 300px;
}

input{
  background-color: rgb(205, 191, 211);
  border-radius: 3px;

}

input[type="text"],
  input[type="password"],
  input[type="number"],
  input[type="decimal"],
  input[type="date"],
  input[type="file"],
  textarea {
    background-color: #e0dceb;
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    resize: none;
    
  }

  /* Estilos para o formulário de cadastro */
.form-container {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.form-container input[type="text"],
.form-container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease-in-out;
}

.form-container input[type="text"]:focus,
.form-container input[type="password"]:focus {
  border-color: #3498db;
}

.form-container input[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px 20px;
  background-color: #5f9992;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
}

.form-container input[type="submit"]:hover {
  background-color: #5a5454;
}