/* Estilos gerais */
body, head {
  margin: 0;
  background-color: #f5f5f5;
}
/* ________________________________________________________________________________________ */
/* Header */
header {
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

header h1 {
  margin: 0;
  font-size: 36px;
}
/* ________________________________________________________________________________________ */
/* Menu */
.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: #333;
  background-size: 20px;
  border-bottom: 2px solid #4e8045;
}

.menu li {
  margin: 0 15px;
}

.menu li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s;
  padding: 5px 10px;
  border-radius: 3px;
}

.menu li a:hover {
  color: #333;
  background-color: #b1ffa3;
}

/* ___________________________________SLIDER_____________________________________________________ */
.slider{
  overflow: hidden;

}
.slider > .slider-content{
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  transition: all 500ms ease;

}

.slider > .slider-content > .slider-item {
  flex: 0 0 auto;
  width: 100%;
}

.slider > input:nth-child(1):checked ~ .slider-content{
  transform: translateX(0%);
}

.slider > input:nth-child(2):checked ~ .slider-content{
  transform: translateX(-100%);
}
.slider > input:nth-child(3):checked ~ .slider-content{
  transform: translateX(-200%);
}

.slider > input:nth-child(4):checked ~ .slider-content{
  transform: translateX(-300%);
}



/* ________________________________________________________________________________________ */
.imagemlogo {
  position:relative;
		top:10%;
		margin-left: 0px;
		margin-top: 50px;
    margin-bottom: 20px;
}


/* ________________________________________________________________________________________ */
/* Hero Section */
.hero-content {
    background: linear-gradient(to bottom, rgba(22, 80, 41, 0.418), rgba(0, 0, 0, 0.8)), url('img/florest.png');
    background-size: cover;
    background-position: center;
    color: #6df568;
    padding: 100px 0;
    text-align: center;
  }


/* _____________________________________CAROUSEL___________________________________________________ */
/* Game Cards */

.h2jogo, .h1jogo, .h2dev{
  color: #ffffff;
  text-shadow: 0 7px 10px rgba(0, 0, 0, 0.74);
}


.carousel {
  display: inline-block; /* Coloca os carousels um ao lado do outro */
  margin-right: 20px; /* Espaçamento entre os carousels */
  vertical-align: top; /* Alinha os carousels ao topo */
}

.game-card {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 7px 8px rgba(0, 0, 0, 0.329);
  margin-bottom: 20px; /* Espaçamento entre os game cards */
  width: 300px; /* Defina a largura desejada */
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.game-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.game-card img {
  max-width: 100%;
  border-radius: 8px;
}

.game-card h4 {
  margin-top: 10px;
  color: #333;
  font-size: 24px;
}

.game-card p {
  margin-top: 5px;
  color: #777;
}

.game-card a {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 15px;
  background-color: #f0efef;
  color: #333;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  font-weight: bold;
}

.game-card a:hover {
  background-color: #5a5454;
  color: #fff;
}



.slide-show{
  overflow: hidden;
}

.slides-list{
  --selected-item: 0;
  --total-items: 4;
  list-style-type: none;
  margin: 10px 0;
  padding: 0;
  position: relative;
  left: calc(var(--selected-item) * -100%);
  width: calc(var(--total-items) * 100%);
  transition: left 0.4s cubic-bezier(0.680, -0.550, 0.265, 1.550);
  
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}


/* Botão CTA */
.cta-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4e8045;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  font-weight: bold;
  letter-spacing: 1px;
}

.cta-button:hover {
    box-shadow: #4e8045;
    transition: .5s ease-in-out, box-shadow .5s ease-in-out;
}


.cta-button:hover {
  box-shadow: inset 200px 0 0 0 #b1ffa3;
  color: rgb(0, 0, 0);
}

/* _______________________________________FORMS_________________________________________________ */

/* Formulário */
.form-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  position:static;
  margin-left: 500px;
  margin-top: 100px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.form-container input[type="text"],
.form-container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease-in-out;
}

.form-container input[type="text"]:focus,
.form-container input[type="password"]:focus {
  border-color: #3498db;
}

.form-container input[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px 20px;
  background-color: #052724;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
}

.form-container input[type="submit"]:hover {
  background-color: #5a5454;
}

.form-container p {
  color: #33180b;
  margin-top: 5px;
}

/* ________________________________________________________________________________________ */

/* Container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Conteúdo Principal */
.content {
  padding: 20px;
}


/* Screenshots */
.game-screenshots {
  background-color: #f5f5f5;
  padding: 40px 0;
  text-align: center;
}

.game-screenshots h2 {
  color: #333;
  font-size: 28px;
  margin-bottom: 20px;
}

.screenshots {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.screenshots img {
  max-width: 100%;
  border-radius: 8px;
  margin: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.screenshots-text {
  text-align: center;
  margin-top: 20px;
}

.screenshots-text p {
  color: #000000;
  line-height: 1.6;
}

/* Rodapé */
footer {
  margin-top: 550px;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  border-top: 2px solid #114b44;
}

.developer {
  position: relative;
  margin: 20px;
  padding-left: 100px;
  width: 200px;
  float: left;
  align-items: center;
}

.developer img {
  width: 300px; /* Ajuste o tamanho da imagem conforme necessário */
  height: 300px; /* Ajuste o tamanho da imagem conforme necessário */
  border-radius: 50%; /* Torna a imagem redonda */
  overflow: hidden; /* Oculta as partes fora da borda arredondada */
  box-shadow: 0 7px 10px rgba(253, 253, 253, 0.582);
}

.developer-info {
  margin-top: 10px;
  text-align: center;
  align-items: center;
  width: 350px;
  color: #fff;
  margin-left: -10%;
  text-shadow: 0 7px 10px rgba(0, 0, 0, 0.74);

}